[core]
	excludesfile = /Users/memorysaver/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Memorysaver
	email = mfa1484@gmail.com
[commit]
	template = ~/.gitmessage
[push]
	default = current
[github]
	user = memorysaver

[color]
	branch = auto
	diff = auto
	status = auto
        showbranch = auto
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = red
[format]
        pretty = '%C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s'

