[core]
	excludesfile = /Users/memorysaver/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = memorysaver
	email = mfa1484@gmail.com
[commit]
	template = ~/.gitmessage
[push]
	default = current
[github]
	user = memorysaver
[color]
	ui = auto
	branch = auto
	status = auto
